version: '3.8'
services:
  user-service:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./target:/application
      - ./src:/workspace/src
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    networks:
      - user-service-network
